PORT=
GRAPHQL_PORT=

NODE_ENV=

MONGODB_URL=

JWT_SECRET=

JWT_EMAIL_SECRET=
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=
# Number of minutes after which a reset password token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=

# Rabbitmq 
RMQ_USER=
RMQ_PASSWORD=
RMQ_HOST=
RMQ_PORT= 


# Redis
REDIS_HOST=
REDIS_PORT=